@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f3f4ff;
}
@media (min-width: 500px ){

    .responsivepadding{
     padding-left: 32px;
     padding-right: 32px;
     
    }
}
@media (min-width: 500px ){

    .responsive-grid{
     
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
     
    }
}